---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- Button container for switching between views -->
<div class="button-container">
  <button id="chronologicalButton" class="toggle-button selected-button" onclick="showView('chronological', this)">Chronological Order</button>
  <button id="areaButton" class="toggle-button" onclick="showView('area', this)">Separated by Area</button>
</div>

<!-- Chronological Order Section -->
<div id="chronological" class="view-section active">
  <!-- <h2>Publications (Chronological Order)</h2> -->
  <hr />
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
</div>

<!-- Separated by Area Section -->
<div id="area" class="view-section">
  {% if site.publication_category %}
    {% for category in site.publication_category %}
      <h2>{{ category[1].title }}</h2>
      <hr />
      {% for post in site.publications %}
        {% if post.category == category[0] %}
          {% include archive-single.html %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>

<script>
  function showView(view, button) {
    // Hide all sections
    document.getElementById('chronological').classList.remove('active');
    document.getElementById('area').classList.remove('active');
    
    // Show the selected section
    document.getElementById(view).classList.add('active');

    // Remove selected-button class from all buttons
    document.getElementById('chronologicalButton').classList.remove('selected-button');
    document.getElementById('areaButton').classList.remove('selected-button');
    
    // Add selected-button class to the clicked button
    button.classList.add('selected-button');
  }
</script>

<style>
  .view-section {
    display: none;
  }
  .active {
    display: block;
  }
  .button-container {
    margin-bottom: 20px;
  }
  .toggle-button {
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  .toggle-button:hover {
    background-color: #0056b3;
  }
  .selected-button {
    background-color: #0056b3; /* Highlight color for the active button */
  }
</style>
